<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Icons CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css"
    />
    <!-- FA Icons-->
    <script
      src="https://kit.fontawesome.com/839e8b1ba6.js"
      crossorigin="anonymous"
    ></script>
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Chakra Petch"
      rel="stylesheet"
    />
    <!-- Custom CSS-->
    <link rel="stylesheet" href="style/style.css" />
    {{#block "customCSS"}}{{/block}}
    <!-- Page Title-->
    {{#block "pageTitle"}}{{/block}}
  </head>
  <!-- Body -->
  <body class="text-center pt-4">
    <!-- Navbar Body -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <div class="container-fluid">
        <!-- Brand Name -->
        <a class="navbar-brand" href="#">Rescate de Patitas</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsable menu -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <!-- Home -->
            <li class="nav-item">
              <a
                class="nav-link {{navigation.home}}"
                aria-current="page"
                href="/home"
              >{{i18n.home}}</a>
            </li>
            {{#if loggedIn}}
              {{#if userPrivilege=2}}
                <!-- Features -->
                <li class="nav-item">
                  <a
                    class="nav-link {{navigation.features}}"
                    href="/features"
                  >{{i18n.manageFeatures}}</a>
                </li>
              {{/if}}
              <li class="dropdown nav-item">
                <a
                  href="#"
                  class="align-items-center link-dark text-decoration-none dropdown-toggle"
                  id="dropdownUser3"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="https://github.com/{{user.usuario}}.png"
                    alt="{{user.usuario}}"
                    width="45"
                    height="45"
                    class="rounded-circle"
                    onerror="this.src='https://avatars.githubusercontent.com/u/4492795?s=200&v=4'"
                  />
                </a>
                <ul
                  class="dropdown-menu text-small shadow justify-content-center"
                  aria-labelledby="dropdownUser3"
                >
                  <li><a
                      class="btn dropdown-item disabled"
                      href="#"
                    >Settings</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <form method="POST" action="/login" class="mt-0 mb-0">
                      <button
                        type="submit"
                        name="uid"
                        value="false"
                        class="dropdown-item"
                      >
                        {{i18n.signOut}}
                      </button>
                    </form>
                  </li>
                </ul>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>

    {{#block "content"}}{{/block}}

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    {{#block "customJS"}}{{/block}}
  </body>

</html>
