
{{#partial "customCSS"}}
    <!-- Data Tables -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css"
      crossorigin="anonymous"
    />
{{/partial}}


<!-- Page Title -->
{{#partial "pageTitle"}}
  <title>Rescate Patitas | {{i18n.featuresViewTitle}}</title>
{{/partial}}

{{#partial "content"}}
  <main class="pt-3 mt-3 overflow-auto">
      <!-- Panel Toolbar-->
    <div class="mb-4 bg-light rounded-3 align-content-center text-center">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">{{i18n.featuresTitleHeader}}</h1>
          <p>{{i18n.lorem}}</p>
        </div>
    </div>
     <div class="container">
       <!-- Table -->
        <table
          id="dataTable"
          class="table table-striped table-borderless mt-3 mb-3"
          style="width: 100%"
        >
         <!-- Column Headers -->
          <thead>
            <tr>
              <th scope="col">{{i18n.feature}}</th>
            </tr>
          </thead>
          <tbody>
            <!-- Data rows -->
            <tr>
              <form class="form-horizontal">
                <td>
                  <div class="form-floating input-group">
                    <input
                      name="valor"
                      type="text"
                      class="form-control"
                      placeholder="An existing feature"
                      value=""
                      required="true"
                    />
                    <label for="newFeature">{{i18n.edit}} {{i18n.feature}}</label>
                    <span class="input-group-text">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-edit" aria-hidden="true"></i></button
                    ></span>
                    <span class="input-group-text">
                      <button class="btn btn-outline-danger" type="submit">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </span>
                  </div>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
        <form class="mt-5">
          <div class="form-floating input-group">
            <input
              name="valor"
              type="text"
              class="form-control"
              id="newFeature"
              placeholder="New Feature"
              required="true"
            />
            <label for="newFeature">{{i18n.addFeaturePh}}</label>
            <span class="input-group-text">
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-plus" aria-hidden="true"></i></button
            ></span>
            <span class="input-group-text">
              <button class="btn btn-outline-primary" type="reset">
                <i class="fa fa-undo" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
  </main>
{{/partial}}

{{#partial "customJS"}}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- JQuery Datatables-->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!-- Boostrap DataTables -->
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <!-- Mandatory DataTable Start-->
    <script>
      $("#dataTable").DataTable();

      $(document).ready(function () {
        $("#example").DataTable({
          language: {
            url: "dataTables.spanish.json",
          },
        });
      });
    </script>
{{/partial}}

{{> layout/LAYOUT-navbar.html.hbs }}
