
<!-- Page Title -->
{{#partial "viewName"}}
  {{i18n.featuresViewTitle}}
{{/partial}}

{{#partial "headerTitle"}}
  {{i18n.featuresTitleHeader}}
{{/partial}}

{{#partial "subtext"}}
  {{i18n.featuresViewText}}
{{/partial}}

{{#partial "table"}}
      <!-- Table -->
      <table
        id="dataTable"
        class="table table-striped table-borderless mt-3 mb-3"
        style="width: 100%"
      >
        <!-- Column Headers -->
        <thead>
          <tr>
            <th scope="col">{{i18n.feature}}</th>
          </tr>
        </thead>
        <tbody>
          <!-- Data rows -->
          {{#caracteristicas}}
          <tr>
            <td>
              <!-- Sorter property -->
              <span style="display:none">{{valor}}</span>
              <!-- Form for edit/delete-->
              <form class="form-horizontal" id="form-feature-{{id}}" action="#">
                <div class="input-group">
                  <!-- Control for delete or edit an entry -->
                  <input name="delete" type="hidden" value="false" id="delete-{{id}}">
                  <!-- Value input -->
                  <input
                    id="edit-input-{{id}}"
                    name="valor"
                    type="text"
                    class="form-control"
                    placeholder="{{valor}}"
                    value="{{valor}}"
                    required="true"
                  />
                  <div class="btn-group" role="group" aria-label="Edit Feature Group">
                  <!-- Edit button -->
                    <button class="btn btn-primary" type="button" onclick="onEdit('{{endpoints.features}}/{{id}}')">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  <!-- Delete button -->
                    <button class="btn btn-outline-danger" type="button" onclick="onDelete('{{endpoints.features}}/{{id}}')">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </form>
            </td>
          </tr>
          {{/caracteristicas}}
        </tbody>
      </table>
      <form class="mt-5" action="/features" method="POST">
        <div class="form-outline input-group">
          <input
            name="valor"
            type="text"
            class="form-control"
            id="newFeature"
            placeholder="{{i18n.newFeaturePh}}"
            required="true"
            autofocus
          />
          <label class="form-label" for="newFeature">{{i18n.addFeaturePh}}</label>
          <div class="btn-group" role="group" aria-label="Add Feature Group">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-primary" type="reset">
              <i class="fa fa-undo" aria-hidden="true"></i>
            </button>
          </div>
        </div>    
      </form>
{{/partial}}

{{> layout/LAYOUT-table.html.hbs }}
