{{#partial "customCSS"}}
<link rel="stylesheet" href="style/rescue.css" />
{{/partial}}

<!-- Page Title -->
{{#partial "pageTitle"}}
<title>RdP | Rescue</title>
{{/partial}}

{{#partial "content"}}
<!-- Required meta tags -->
<div class="form-rescue bg-light">
    <form action="/rescue" method="POST">
        <div class="d-flex flex-row justify-content-between">
            <div>
                <div class="form-floating">
                    <textarea name="description" type="text" class="form-control" id="floatingInput"
                        placeholder="Descripcion" required="true"></textarea>
                    <label for="floatingInput">{{i18n.description}}</label>
                </div>

                <div class="form-floating">
                    <input name="positionX" type="text" class="form-control" id="floatingInput"
                        placeholder="Coordenada X" required="true" />
                    <label for="floatingPassword">{{i18n.positionX}}</label>
                </div>

                <div class="form-floating">
                    <input name="positionY" type="text" class="form-control" id="floatingInput"
                        placeholder="Coordenada Y" required="true" />
                    <label for="floatingPassword">{{i18n.positionY}}</label>
                </div>

            </div>
            <div>

                <div class="form-floating">
                    <input name="tag" type="text" class="form-control" id="floatingInput" placeholder="Tag"
                        />
                    <label for="floatingInput">{{i18n.chapita}}</label>
                </div>
                <div class="d-flex flex-row" style="margin-top: 5%;">
                    <p>{{i18n.petType}}</p>
                    <select style="margin-left: 5%;min-width: 50%;" name="type">
                      {{#tipos}}
                        <option value="{{this}}">{{this}}</option>
                        {{/tipos}}
                    </select>
                </div>
                <div class="d-flex flex-row" style="margin-top: 5%;">
                    <p>{{i18n.size}}</p>
                    <select style="margin-left: 5%;min-width: 50%;" name="size">
                      {{#sizes}}
                      <option value="{{this}}">{{this}}</option>
                      {{/sizes}}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-floating mb-1">
            <input class="form-control form-control-sm" id="photos" name="photos" type="file" multiple required="true"/>
            <label class="custom-file-label" for="photos">{{i18n.petPhotos}}</label>
        </div>
        <div style="padding-top: 10%;">

            <button class="w-100 btn btn-lg btn-success" type="submit">{{i18n.found}}</button>



        </div>
    </form>
          <!-- Flexbox container for aligning the toasts -->
          <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
            <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <strong class="me-auto">Rescate de Patitas</strong>
                <small>{{i18n.justNow}}</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body {{toastStatus}} text-white">
                {{toastMessage}}
              </div>
            </div>
          </div>
</div>
{{/partial}}

{{#partial "customJS"}}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Mandatory DataTable Start-->
    <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function(toastEl) {

        // Creates an array of toasts (it only initializes them)
          return new bootstrap.Toast(toastEl) // No need for options; use the default options
        });
        
        if({{showToast}}){
          toastList.forEach(toast => toast.show()); // This show them
        }

    </script>
{{/partial}}
{{> layout/LAYOUT.html.hbs }}
